.accordeon {
  display: none;
}

.accordeon-switcher--active + .accordeon--active {
  display: block;
}

.accordeon-switcher.accordeon-switcher--active {
  padding-bottom: 0;
}

.accordeon-switcher.accordeon-switcher--active svg {
  transform: rotate(180deg);
}
