.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 25px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 59px;
  padding: 0;

  @media (max-width: $max-tablet-width) {
    row-gap: 23px;
  }

  @media (max-width: $max-mobile-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 26px;
    margin-bottom: 41px;
  }
}

.catalog-list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-list__link picture {
  overflow: hidden;
  width: 100%;
  height: auto;

  @media (max-width: $max-tablet-width) {
    height: 100%;
  }
}

.catalog-list__link img {
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: bottom;
  height: auto;
  transition: all 0.3s;

  @media (max-width: $max-tablet-width) {
    width: 100%;
  }
}

.catalog-list__link:focus {
  outline: none;
}

.catalog-list__link:focus img,
.catalog-list__link:hover img {
  transform: scale(1.2);
}

.catalog-list__link h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $text-color-black;
  text-align: center;
  order: 1;
  margin-top: 20px;
  margin-bottom: 0;

  @media (max-width: $max-mobile-width) {
    margin-top: 16px;
  }
}

.catalog-list__item p {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-black;
  text-align: center;
  margin-top: 4px;

  @media (max-width: $max-tablet-width) {
    margin-top: 6px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 0;
  }
}
