.faq {
  padding-top: 42px;
  padding-bottom: 30px;
  width: 100vw;

  @media (max-width: $max-tablet-width) {
    padding-top: 10px;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 0;
  }
}

.faq__wrapper {
  @include container-desktop();

  @media (max-width: $max-tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 4.69vw;
    padding-right: 4.69vw;
  }
}

.faq__wrapper h2 {
  font-family: $secondary-font;
  font-size: 34px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $text-color-black;
  text-align: center;
  margin-bottom: 48px;

  @media (max-width: $max-tablet-width) {
    margin-top: 10px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 28px;
  }
}

.faq__list {
  @include list-reset();

  padding-left: 100px;
  padding-right: 100px;

  @media (max-width: $max-tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.faq__item {
  border: 1px solid $accent-color;
  min-height: 112px;

  @media (max-width: $max-mobile-width) {
    min-height: 82px;
  }
}

.faq__item:not(:first-child) {
  border-top: none;
}

.faq__control-icon {
  fill: none;
}

.faq__question {
  position: relative;
  font-family: $primary-font;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  padding: 41px 47px 47px 42px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (max-width: $max-tablet-width) {
    padding-top: 42px;
    padding-bottom: 22px;
    padding-left: 46px;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 17px;
    padding-left: 25px;
    padding-right: 18px;
  }
}

.faq__question:hover span {
  color: $accent-color;
}

.faq__question svg {
  transition: all 0.7s;

  @media (max-width: $max-tablet-width) {
    width: 26px;
    height: 15px;
  }

  @media (max-width: $max-mobile-width) {
    position: absolute;
    height: 12px;
    align-self: flex-start;
    margin-top: 23px;
    width: 18%;
    top: 0;
    right: 8px;
  }
}

.faq__question span {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: $text-color-black;
  margin-bottom: 0;
  margin-top: 0;
  transition: all 0.3s;

  @media (max-width: $max-mobile-width) {
    font-size: 16px;
    line-height: 21px;
    align-self: flex-start;
    padding-right: 63px;
  }
}

.faq__question--last span {
  padding-right: 30px;
}

.faq__question--last br {
  display: none;

  @media (max-width: $max-mobile-width) {
    display: inline;
  }
}

.faq__answer {
  padding-left: 50px;
  max-width: 566px;

  @media (max-width: $max-tablet-width) {
    max-width: 580px;
    padding-left: 46px;
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 24px;
  }
}

.faq__answer p {
  position: relative;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: $text-color-black;
  margin-top: 9px;
  margin-bottom: 39px;

  @media (max-width: $max-tablet-width) {
    margin-top: 27px;
    margin-bottom: 42px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
    line-height: 20px;
    padding-right: 58px;
    margin-top: 15px;
    margin-bottom: 19px;
  }
}
