.info-list {
  display: none;

  @media (max-width: $max-tablet-width) {
    @include list-reset();

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 16px;
  }
}

.info-list__item a {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: $text-color-light-gray;
  padding: 10px 12px;

  @media (max-width: $max-tablet-width) {
    font-size: 18px;
    line-height: 23px;
    color: $text-color-white;
  }
}

.info-list--js {
  @media (max-width: $max-tablet-width) {
    display: none;
  }
}
