.page-body {
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  font-style: normal;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;

  &--menu-open {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &--popup-open {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.page-body__main {
  flex-grow: 1;
}

.page-body__footer {
  margin-top: auto;
}
