.socials-list {
  @include list-reset();

  margin-left: auto;
  padding-top: 4px;

  @media (max-width: $max-tablet-width) {
    margin-left: 42px;
  }

  @media (max-width: $max-mobile-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
  }
}

.socials-list__item {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: $text-color-white;
  margin-bottom: 21px;

  @media (max-width: $max-mobile-width) {
    margin-right: 29px;
  }
}

.socials-list__item:first-child {
  @media (max-width: $max-mobile-width) {
    margin-right: 21px;
  }
}

.socials-list__link {
  display: flex;
  align-items: center;
  transition: all 0.3s;

  @media (max-width: $max-mobile-width) {
    width: 21px;
  }
}

.socials-list__link span {
  @media (max-width: $max-mobile-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.socials-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 15px;

  &--facebook {
    @media (max-width: $max-mobile-width) {
      justify-content: flex-start;
    }
  }

  @media (max-width: $max-mobile-width) {
    width: auto;
    height: 21px;
    margin-right: 30px;
  }
}

.socials-list__icon--facebook svg {
  @media (max-width: $max-mobile-width) {
    width: 12px;
    height: 21px;
  }
}

.socials-list__icon--instagram svg {
  @media (max-width: $max-mobile-width) {
    width: 20px;
    height: 21px;
  }
}

.socials-list__icon--pinterest svg {
  @media (max-width: $max-mobile-width) {
    width: 21px;
    height: 21px;
  }
}

.socials-list__icon--twitter svg {
  @media (max-width: $max-mobile-width) {
    width: 20px;
    height: 18px;
  }
}

.socials-list__link:hover {
  border-radius: 5px;
  box-shadow: inset 1px 1px 10px 1px #ffffff, 1px 1px 8px 3px #ffffff;
}
