$accent-color: #a87b62;
$text-color-gray: #9b9997;
$text-color-black: #1d1613;
$text-color-full-black: #000000;
$text-color-white: #ffffff;
$nav-border-color: #f6f5f4;
$text-color-light-gray: rgba(255, 255, 255, 0.75);
$icon-color-black: #1d1613;
$icon-color-white: #ffffff;
$search-form-bg-color: rgba(255, 255, 255, 0.15);
$footer-bg-color: #000000;
$subscribe-form-border-color: #ffffff;
$article-bg-color: #f0eae4;

$primary-font: "Poppins", "Arial", sans-serif;
$secondary-font: "Cormorant Garamond", "Garamond", serif;

$max-tablet-width: 1023px;
$min-tablet-width: 768px;
$max-mobile-width: 767px;
$desktop-width-only: 1024px;
